<p
    [ngStyle]="{
        'background-color': addBgColor ? 'orange' : 'transparent',
    }"
    (mouseover)="onMouseOver()"
    (mouseout)="onMouseOut()"
>Parágrafo sem diretiva!</p>

<!-- COMP X -->
<!-- <app-sem-diretiva [innerText]="'Texto do comp x'" [bgColor]="'green'" [fontSize]="'16px'"></app-sem-diretiva> -->

<!-- COMP Y -->
<!-- <app-sem-diretiva [innerText]="'Texto do comp y'" [bgColor]="'blue'" [fontSize]="'14px'"></app-sem-diretiva> -->

<!-- <p appHighlight>Sou um parágrafo sem diretiva! X</p> -->

<!-- <p appHighlight>Sou um parágrafo sem diretiva! Y</p> -->
