<div class="container">
    <div class="left-container">
        <div class="top-div">
            <!-- Conteúdo da div superior -->
            <app-filter (onFilter)="onFilter($event)"></app-filter>
        </div>
        <div class="main-left-div">
            <!-- Conteúdo da div esquerda (80% de altura) -->
            <app-users-list [usersList]="usersListFiltered" (userSelected)="onUserSelected($event)"></app-users-list>
        </div>
    </div>
    <div class="right-div">
        <!-- Conteúdo da div direita -->
        <app-users-details [user]="userSelected" *ngIf="showUserDetails"></app-users-details>
    </div>
</div>