<!-- <app-button [text]="'Adquirir'" [style]="'white'" [disabled]="true" (clicked)="buttonClicked()"></app-button>

<app-button [text]="'Adquirir 2'" [style]="'purple'"></app-button> -->

<div class="cards-container">
    <app-card
      [planType]="'Simples'"
      [planPrice]="100"
      [cardStyle]="'orange'"
      (buttonClicked)="onCardButtonClicked()"
    ></app-card>
  
    <app-card
      [planType]="'Completo'"
      [planPrice]="200"
      [cardStyle]="'purple'"
      (buttonClicked)="onCardButtonClicked()"
    ></app-card>
  </div>
  
  