<div class="user-details">
    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span><span class="mat-h3">Fulano da Silva</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span> <span class="mat-h3">joao.silvaexample.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone: </span> <span class="mat-h3">(11) 91234-5678</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span> <span class="mat-h3">Rua das Flores, 42, São Paulo - SP</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo: </span> <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span> <span class="mat-h3">Desenvolvedor</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro: </span> <span class="mat-h3">20/08/2023</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
